*{
    box-sizing: border-box;
}
body {
    background-color: darkblue;
    color: blanchedalmond;
}
#div1 {
    background-image: url('https://wallpapercave.com/wp/wp2651397.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Ubuntu', cursive;
    padding: 4em;
    margin-top: -11px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}
#h {
    font-size: 11em;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 30px;
    color: antiquewhite;
}
#p1 {
    font-size: 3em;
    margin-top: 0%;
    padding-bottom: 30px;
    color: aqua;
}
div.d {
    position: sticky;
    background-color: rgba(0, 0, 0, 0.575);
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    margin-top: 10px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    border-radius: 50%;
    color: goldenrod;
}
.div2 {
    font-family: 'Ubuntu', cursive;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 30px 30px 30px 30px;
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
}
input {
    cursor: pointer;
}
#imgc {
    padding-left: 110px;
    margin-bottom: 20px;
    font-weight: 900;
}
.sub {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#outbox {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/986/252/980/tiger-beauty-awesome-blue-cool-gorgeous-lovely-nice-hd-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: -11px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 50px;
}
#inbox h1, a {
    font-family: 'Ubuntu', cursive;
    display: block;
    background-color: lightblue;
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
    padding-bottom: 10px;
    padding-top: 30px;
    opacity: 0.8;
}
#inh1 {
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0%;
    font-size: 70px;
}
a {
    text-decoration: none;
}
#ina1 {
    margin-bottom: 0px;
    font-size: 40px;
}
#ina1:hover {
    background-color: white;
}
img {
    height: 30px;
    width: 40px;
    padding-right: 10px;
}